<div class="row" >
        <div class="col-12" style="height: 5px">

        </div>
</div>
<div class="row shadow-lg p-3 mb-5 bg-white rounded"  style="margin-right: 5%;">
    <div class="col-12" style="width: 200px; text-align: center" >
        <h3> Evaluacion Administradoras</h3>
    </div>
</div>

<div class="row shadow-lg p-3 mb-5 bg-white rounded" style="margin-right: 5%;" >
    <ngb-tabset >
        <div *ngFor ="let secc of Seccion">

        <ngb-tab title="{{secc.nombre_seccion}}" >
          <ng-template ngbTabContent>
<!--            <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col-6">Nada </th>
                <th scope="col-6">Raras Veces</th>
                <th sc  ope="col-6"> A veces</th>
                <th scope="col-6">A menudo </th>
                <th scope="col-6">Casi Siempre</th>
                <th scope="col-6">Siempre</th>

                </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let pre of pregunti; let i = index;" >
            <th scope="row">{{ i + 1 }}</th>
            <td> {{ pre.nombrepregunta }}</td>
            <td><input type="radio" name="{{ pre.id }}" formControlName="0" name="{{ pre.id }}" value="0" > </td>
            <td><input type="radio" name="{{ pre.id }}" formControlName="1" name="{{ pre.id }}" value="1"> </td>
            <td><input type="radio" name="{{ pre.id }}" formControlName="2" name="{{ pre.id }}" value="2"> </td>
            <td><input type="radio" name="{{ pre.id }}" formControlName="3" name="{{ pre.id }}" value="3"> </td>
            <td><input type="radio" name="{{ pre.id }}" formControlName="4" name="{{ pre.id }}" value="4"> </td>
            <td><input type="radio" name="{{ pre.id }}" formControlName="5" name="{{ pre.id }}" value="5"> </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
<!--    </form>-->

      <p>Form value: {{ form.value | json }}</p>
          </ng-template>
        </ngb-tab>
        </div>
      </ngb-tabset>

